# Core API
fastapi==0.115.6
uvicorn==0.31.1
python-multipart==0.0.9

# Pydantic & Configuration
pydantic==2.10.1
pydantic-settings==2.10.1

# ML & Computer Vision
ultralytics==8.3.28
opencv-python==4.10.0.84
pillow==11.0.0
numpy==2.1.1

# HTTP Clients
requests==2.32.3
aiohttp==3.12.15

# Validation & Visualization
torcheval==0.0.7
matplotlib==3.9.2

# Logging
#loguru==0.7.2

# Testing (optional)
pytest==8.3.3
pytest-asyncio==0.24.0